* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
}

body {
    background-color: #e3e6e6;
}


/* NAVBAR STYLING */
.navbar {
    height: 60px;
    background: linear-gradient(92.41deg, #003d32, #04734b);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

/* BOX-1 */
.nav-logo {
    height: 50px;
    width: 100px;
    margin: 1px;
    padding: 0px 6px 0 6px;
    margin-left: 10px;
}

.logo {
    height: 50px;
    width: 100px;
    padding: 0px 4px 0px 4px;
    border: 1px solid transparent;
    background-image: url("trans_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.border:hover {
    border: 1px solid white;
}

/* BOX-2 */
.nav-address {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 5px;

}

.static {
    color: #cccccc;
    font-size: 0.75rem;
    margin-bottom: 2px;
    margin-left: 22px;
    line-height: 1;
}

.add-icon-and-country {
    display: flex;
    align-items: center;
    margin-left: 0;
}

#loc-logo {
    font-size: 0.9rem;
    margin-right: 4px;
    color: white;
    padding-bottom: 5px;
}

.variable {
    font-size: 0.9rem;
    font-weight: 700;
    color: white;
    margin: 0;
}

.hoverforadd {
    text-decoration: none;
    border: 1px solid transparent;
    padding: 8px 10px 5px 3px;
}

/* BOX-3 */
.nav-search {
    display: flex;
    justify-content: center;
    height: 40px;
    border-radius: 5px;
    margin: 7px;
    transition: box-shadow 0.2s ease;
}

.search-option {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #e6e6e6;
    width: 60px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border: none;
    font-size: 0.8rem;
}

.search-bar {
    width: 100%;
    font-size: 1rem;
    padding-left: 5px;
    border: none;
}

.search-icon {
    width: 50px;
    background-color: #a9176f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-search:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

/* BOX-4 */
.nav-lang {
    display: flex;
    align-items: flex-end;
    gap: 0px;
    padding: 4px;
    border: 1px solid transparent;
}

.nav-lang i {
    font-size: 1.3rem;
}

.nav-lang select {
    color: white;
    font-weight: 700;
    background-color: transparent;
    border: none;
}

/* BOX-5 */
span {
    font-size: 0.75rem;
}

.nav-signin {
    padding: 3px 5px 3px 5px;
    border: 1px solid transparent;
}

.nav-orders {
    padding: 3px 4px 3px 5px;
    border: 1px solid transparent;
}

.nav-second {
    font-size: 0.9rem;
    font-weight: 700;
}

/* BOX-6 */
.nav-cart {
    font-size: 0.9rem;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    gap: 0px;
    padding: 8px 8px 8px 6px;
    border: 1px solid transparent;
    margin-right: 10px;
}

.nav-cart i {
    font-size: 27px;
}

.nav-logo,
.nav-address,
.nav-lang,
.nav-signin,
.nav-orders,
.nav-cart {
    flex-shrink: 0;
}

.nav-search {
    flex: 1;
    min-width: 200px;
}

.navbar {
    flex-wrap: nowrap;
    padding: 0 10px;
}


/* PANEL STYLING */
.panel {
    height: 39px;
    font-weight: 600;
    color: white;
    background-color: #085749;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
}

.panel-ops {
    font-size: 0.9rem;
}

.panel-ops p {
    display: inline-block;
    margin-left: 25px;
}


/* HERO-SECTION */
.hero-section {
    height: 350px;
    background-image: url("hero_image1.jpg");
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-msg {
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    width: 95%;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #2162a1;
    text-decoration: none;
}


/* SHOP-SECTION */ 
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    height: 400px;
    background-color: white;
    width: 23%;
    padding: 20px 0px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box-content {
    margin: 0rem 1rem;
}

.box-content a {
    text-decoration: none;
    color: #2162a1;
}

.box-img {
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem 0rem;
}

.box2 .box-img {
    height: 290px;
}


/* FOOTER SECTION */
/* FOOTER-PANEL-1 */
.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

/* FOOTER-PANEL-2 */
.foot-panel2 {
    background-color: #232f3e;
    color: white;
    height: 285px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 60px;
}

.contentgen ul {
    list-style-type: none;
}

.contentgen p {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.contentgen a {
    display: inline-block;
    color: #dddddd;
    text-decoration: none;
    font-size: 14px;
    margin: 7px 0px;
}

.contentgen a:hover {
    text-decoration: underline;
}

/* FOOTER-PANEL-3 */
.foot-panel3 {
    background-color: #232f3e;
    color: white;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 35px;
    border-top: 0.5px solid grey;
}

.fp3-logo {
    height: 30px;
    width: 100px;
    background-image: url("imageedit_1_9772379322.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/* FOOTER-PANEL-4 */
.foot-panel4 {
    background-color: #131a22;
    color: #DDDDDD;
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.contentcol {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contentcol ul {
    list-style-type: none;
}

.contentcol p {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 6px;
}

.contentcol a {
    display: inline-block;
    color: #999999;
    text-decoration: none;
    font-size: 13px;
    margin: 3px 0;
}

.contentcol a:hover {
    text-decoration: underline;
}

/* FOOTER-PANEL-5 */
.foot-panel5 {
    background-color: #131a22;
    color: #dddddd;
    font-weight: 600;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 0 30px 0;
    font-size: 12px;
    display: block !important;
}

.foot-legal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.foot-legal a {
    text-decoration: none;
    color: #dddddd;
    font-size: 12px;
}

.foot-legal p {
    display: block;
    margin-top: 6px;
    font-size: 12px;
    color: #cccccc;
    text-align: center;
}

.foot-legal a:hover {
    text-decoration: underline;
}